[submodule "Plugins/rtAuralization"]
	path = Plugins/rtAuralization
	url = https://github.com/EngFelix/rtAuralization.git
[submodule "Plugins/nDisplayExtensions"]
	path = Plugins/ndisplayextensions
	url = https://github.com/EngFelix/nDisplayExtensions.git
[submodule "Plugins/OptitrackNatnet"]
	path = Plugins/OptitrackNatnet
	url = https://github.com/EngFelix/OptitrackNatnet.git
[submodule "Plugins/MegascansPlugin"]
	path = Plugins/MegascansPlugin
	url = https://github.com/EngFelix/MegascansPlugin.git
